@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the Poppins font from Google Fonts. Multiple weights are included for flexibility. */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global styles */
body {
  margin: 0;
  @apply font-sans bg-smoky text-gray-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code block font */
code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
